body {
    background-image: url("../img/contra.jpeg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center top;

}

.aligncenter {
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-size: small;
    font-family: 'Metal Mania', cursive;
}

audio{
    position: absolute;
    padding-left: 70em ;
    padding-top: 43em;
}