<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/checkout.css}">
<body>
<div class="page-container">
  <div th:replace="partials/navbar :: navbar"/>
  <div class="content-wrap">

    <form class="checkout-container">

      <h4>CHECKOUT</h4>
      <!--progress bar-->
      <div class="progressbar">
        <div class="progress-step progress-step-active" data-title="Confirm Your Order"></div>
        <div class="progress-step" data-title="Contact Information"></div>
        <div class="progress-step" data-title="Order Total"></div>
        <div class="progress-step" data-title="Payment Information"></div>
        <div class="progress" id="progress"></div>
      </div>

      <!----------review order tab - start----------->
      <div class="form-step form-step-active">


        <!-- START FOR EACH ITEM IN CART-->
        <div>
          <div th:if="${cart.items.isEmpty()}">
            <p class="m-4 text-center">Your bag is currently empty :(</p>
          </div>

          <div th:if="${!cart.items.isEmpty()}">
            <div class="text-center">
              <h2>Place order for: </h2>
              <div class="d-flex justify-content-evenly orderTypeContainer">
                <div>
                  <input type="radio" id="pickUp" name="orderType" value="pickUp" class="checkboxes">
                  <label for="pickUp" class="orderTypeLabel"><span class="ms-1"></span>Pick Up</label>
                </div>
                <div>
                  <input type="radio" id="delivery" name="orderType" value="delivery"
                         class="checkboxes">
                  <label for="delivery" class="orderTypeLabel"><span
                          class="ms-1"></span>Delivery</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="bag-title d-flex align-items-center justify-content-end"></p>
                <div th:each="item : ${cart.items}">
                  <div class="bag-item d-flex align-items-center justify-content-end">
                    <img class="bag-item-image" th:src="${item.getMenuItem().getPhoto()}">
                  </div>
                </div>
              </div>
              <div class="col">
                <p class="bag-title-name d-flex align-items-center">Name</p>
                <div th:each="item : ${cart.items}">
                  <div class="bag-item-name d-flex align-items-center">
                    <div>
                      <span class="text-nowrap" th:text="${item.menuItem.item_name}"></span><br>
                      <span class="options text-nowrap" th:text="${item.meatOptionList}"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="filler"></div>
              </div>
              <div class="col">
                <p class="bag-title d-flex align-items-center justify-content-center">Quantity</p>
                <div th:each="item, itemIndex : ${cart.items}">
                  <div class="bag-item d-flex align-items-center justify-content-center"
                       th:text="${item.quantity}"></div>
                </div>

              </div>
              <div class="col">
                <p class="bag-title d-flex align-items-center justify-content-center">Price</p>
                <div th:each="item : ${cart.items}">
                  <div class="bag-item d-flex align-items-center justify-content-center">$<span
                          th:text="${item.getItemTotalString()}"></span></div>
                </div>

              </div>
            </div>
          </div>


          <div class="bag-total-div">
            <p class="total-title">Sub-total</p>
            <p class="total-price">$<span th:text="${cart.getCartTotalString()}"></span></p>
          </div>
        </div>
        <!-- END ITEMS IN CART  -->

        <p class="d-none" id="orderTypeFeedback">Please select an order type before proceeding</p>
        <div class="place-order-buttons">
          <a class="button" href="/view-bag">Return to Bag</a>
          <a class="button btn-next" href="#">Next</a>
        </div>

      </div>
      <!----------review order tab - end----------->

      <!----------contact info tab - start----------->
      <div class="form-step">

        <div class="row">
          <h5 class="text-center">Contact Information</h5>
          <div class="col-6">
            <div class="mb-3 form-custom">
              <label for="userFirstName" class="form-label">First Name*</label>
              <div class="">
                <input type="text" class="form-control" id="userFirstName"
                       th:value="${user.first_name}">
                <div id="firstNameFeedback"></div>
              </div>
            </div>
            <div class="mb-3 form-custom">
              <div>
                <label for="userEmail" class="form-label">Email</label>
                <div class="">
                  <input type="text" class="form-control" id="userEmail" th:value="${user.email}">
                  <div id="emailFeedback"></div>
                </div>
              </div>
              <div class="mt-2">
                <input type="checkbox" id="emailConfirmation" name="confirmation" value="email">
                <label for="emailConfirmation">Receive Email Confirmation</label><br>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-custom">
              <label for="userLastName" class="form-label">Last Name*</label>
              <div class="">
                <input type="text" class="form-control" id="userLastName" th:value="${user.last_name}">
                <div id="lastNameFeedback"></div>
              </div>
            </div>
            <div class="mb-3 form-custom">
              <label for="userPhone" class="form-label">Phone</label>
              <div class="">
                <input type="text" class="form-control" id="userPhone" th:value="${user.phone}">
                <div id="phoneFeedback"></div>
              </div>
            </div>
          </div>
        </div>

        <h5 class="text-center">Address
          <span th:if="${loggedIn == true}">
                        <button type="button" class="address-modal-button" data-bs-toggle="modal" data-bs-target="#addressModal" id="changeAddressButton">Change</button>
                    </span>
        </h5>
        <div>

          <div class="row">
            <label for="streetAddress" class="form-label">Street</label>
            <div class="mb-2">
              <input type="text" class="form-control" id="streetAddress" th:value="${address.street}">
              <div id="streetFeedback"></div>
            </div>
          </div>

          <div class="row">
            <label for="buildingAddress" class="form-label">Apt, Suite, Unit, Building
              (Optional)</label>
            <div class="mb-2">
              <input type="text" class="form-control" id="buildingAddress" th:value="${address.building}">
              <div id="buildingFeedback"></div>
            </div>
          </div>

          <div class="row">
            <label for="cityAddress" class="form-label">City</label>
            <div class="mb-2">
              <input type="text" class="form-control" id="cityAddress" th:value="${address.city}">
              <div id="cityFeedback"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <label for="stateAddress" class="form-label">State</label>
              <div class="mb-2">
                <select class="form-control" id="stateAddress">
                  <option value="">Select a state</option>
                  <option th:each="state : ${allStates}" th:value="${state}"
                          th:text="${state}" th:selected="${state == address.state}"></option>
                </select>
                <div id="stateFeedback"></div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <label for="zipCodeAddress" class="form-label">Zip Code</label>
              <div class="mb-2">
                <input type="text" class="form-control" id="zipCodeAddress"
                       th:value="${address.zipCode}">
                <div id="zipCodeFeedback"></div>
              </div>
            </div>
          </div>
        </div>

        <p id="userAddressMessage"></p>

        <!--                        <input type="checkbox" id="phoneConfirmation" name="confirmation" value="phone">-->
        <!--                        <label for="phoneConfirmation">Receive Phone Confirmation</label>-->
        <div class="place-order-buttons">
          <a class="button btn-prev" href="#">Previous</a>
          <a class="button btn-next" href="#">Next</a>
        </div>
      </div>
      <!----------contact info tab - end----------->

      <!----------confirm order total - start----------->
      <div class="form-step">

        <div class="row">
          <div class="col-6 rewards">
            <p class="bag-title">REDEEM REWARDS</p>
            <div class="mb-3 form-custom">
              <div class="d-flex justify-content-between">
                <label for="userRewards" class="form-label">Redeem Rewards Points</label>
                <label for="userRewards" class="form-label" id="availBalance"></label>
              </div>
              <div class="">
                <input type="number" class="form-control" id="userRewards">
                <div id="rewardsFeedback"></div>
              </div>
              <button id="applyRewards" class="button">Apply Rewards</button>
            </div>
            <div class="mb-3 form-custom">
              <label for="userPromo" class="form-label">Promo Code</label>
              <div class="">
                <input type="text" class="form-control" id="userPromo">
                <div id="promoFeedback"></div>
              </div>
              <button id="applyPromo" class="button">Apply Promo</button>
            </div>
          </div>
          <div class="col-6 order-total-price">
            <p class="bag-title">ORDER TOTAL</p>
            <ul class="order-price">
              <li><p>Order Total</p></li>
              <li><p class="dollar-amount">$<span id="cartTotal"
                                                  th:text="${cart.getCartTotalString()}"></span></p></li>
              <li><p>Delivery Charge</p></li>
              <li><p class="dollar-amount" id="deliveryCharge">$0.00</p></li>
              <li><p>Taxes</p></li>
              <li><p class="dollar-amount" id="taxes">$0.00</p></li>
              <li><p>Points redeemed:</p></li>
              <li><p class="dollar-amount" id="pointsRedeemed">0</p></li>
              <li><p>Promo Code</p></li>
              <li><p class="dollar-amount" id="promoCode">N/A</p></li>
              <li><p>Discounts</p></li>
              <li><p class="dollar-amount" id="discount">-$0.00</p></li>
              <li><p class="standOut">Total</p></li>
              <li><p class="dollar-amount standOut" id="totalCharge">$0.00</p></li>
            </ul>
          </div>
        </div>

        <div class="place-order-buttons">
          <a class="button btn-prev" href="#">Previous</a>
          <a class="button btn-next" href="#">Next</a>
        </div>

      </div>
      <!----------confirm order total - end----------->

      <!----------payment info tab - start----------->
      <div class="form-step">
        <div>
          <form id="payment-form">
            <div id="payment-element">
            </div>
            <div class="place-order-buttons">
              <a class="button btn-prev" href="#">Previous</a>
              <button class="button" id="payNow" type="submit">Pay now</button>
            </div>
            <div id="error-message">
            </div>
          </form>
        </div>
      </div>
      <!----------payment info tab - end----------->

    </form>

    <!-- Modal -->
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addressModalLabel">Select an Address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div  th:each="address : ${allAddresses}" th:id="${'changeAddress' + address.id}" class="changeAddressDiv" data-bs-dismiss="modal">
              <div class="saved-address-div">
                <p class="saved-address" th:text="${address.oneLiner()}" ></p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="button" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="foot-div">
    <div th:insert="partials/footer :: footer"/>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/apiKeys.js"></script> <!--put in footer later -- should we? that would but this in all pages -->
<script src="https://js.stripe.com/v3/"></script>
<script th:inline="javascript">
  "use strict";

  let pointsAvailable = /*[[${pointsAvailable}]]*/ 'default';
  let promoCodes = /*[[${promoCodes}]]*/ "default";
  let addressesJSON = /*[[${addressesJSON}]]*/ "default";
</script>
<script src="/js/checkout.js"></script>
</body>
</html>